.traffic-light-container {

    background-color: #86d2f2;
    
    padding: 20px;
    
}
    
.traffic-1ight-heading {
    
    color: #1f1d41;
    
    font-family: "Roboto";
    
    font-size: 46px;
    
    font-weight: bold;
}


.button {

    background-color: #1f1d41;
    
    color: white;
    
    font-famiLy: "Roboto";
    font-size: 15px;
    
    width: 70px;
    
    height: 40px;
    
    border-width: 0;
    
    border-radius: 10px;
    
    margin-top: 45px;
}

.traffic-light {

    background-color: #1f1d41;
    
    width: 100px;
    
    height: 300px;
    
    border-radius: 40px;
    
    margin-Left: 30px;
    
    padding: 20px;
}

.bulb {

    background-color: #4b5069;
    
    width: 50px;
    
    height: 50px;
    
    border-radius: 50px;
    
    margin-top: 25px;
    
    margin-bottom: 25px;
    
    margin-Left: 5px;

}